/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/

@font-face {
  font-family: "MontHeavy";
  src: local("MontHeavy"),
   url("/fonts/mont-heavy.ttf") format("truetype");
}
body {
  padding: 0;
  margin: 0;/*
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
  background-color: rgb(15 23 42);
  width: 100vw;
  font-family: Mont Heavy, Verdana;
  color: white;
}

* {
  box-sizing: border-box;
}

.white {
  color:white;
}
.btnblack,
.btnblue {
  padding: 5px 50px;
  font-size: 12px;
  font-family: Mont Heavy, Verdana;
}

.btnblue {
  border: none;
  border-radius: 20px;
  background-color: dodgerblue;
  color: white;
}
.btnblack {
  border: 1px solid #bbb;
  border-radius: 20px;
  background-color: rgb(15 23 42);
  color: dodgerblue;
}
.logo {
  transform: rotate(180deg);
}
.txtpetit {
  font-size: 10px;
}
h1 {
  font-size: 40px;
}
.container {
  display:flex;
}