.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
.container div {
    flex-grow: 1;
}
.logoLeft {
    padding:25px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}
.borderLeft {
    border-left: 1px solid #333;
    height: 100vh;
}
.addTweet {
    padding: 10px 40px;
}
.inputTweet {
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid #999;
    padding: 10px 0px;
    font-family: Verdana;
    font-size: 15px;
}
.titreNoBold {
    font-family:Verdana;
    font-weight: 600;
    margin-left: 10px;
    font-size: 20px;
}
.totCaracteres {
    font-family:Verdana;
    font-size: 12px; 
    margin-right: 10px;
}
.alignRight {
    text-align: right;
}
.btnTweet {
    border: none;
    border-radius: 20px;
    background-color: dodgerblue;
    color: white;
    padding: 5px 20px;
}
.searchHashtag {
    margin: 10px 40px 20px 40px;
}
.searchHashtag input {
    color: white;
    background-color: #202c41;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
    border: none;
}
.searchHashtag input:focus { 
    border: 1px solid #202c41;
}