.listHashtags {
    background-color:#202c41;
    margin:10px;
    padding: 10px;
}
.titreHashtag {
    margin: 0; padding: 0 0 10px 0;
    font-size: 12px;
}
.titreHashtag a {
    color: white;
    text-decoration: none;
}
.titreHashtag a:hover {
    color: dodgerblue;
}
.totalTweet {
    font-size: 10px;
    color: #888;
    font-family: Verdana;
}
.unHashtag {
    margin-bottom: 20px;
}