.blockTweet {
    font-family: Verdana;
    font-size: 12px;
    border-top: 1px solid #333;
    padding : 10px;
}
.nameTweet {
    font-family: Mont Heavy;
}
.iconPointor {
    cursor: pointer;
}
.iconPointor:hover {
    color: dodgerblue;
}
.textTweet {
    padding: 10px 0;
}
.textTweet a {
    color: dodgerblue;
    text-decoration: none;
}
.textTweet a:hover {
    color: white;
}