.blockTweet {
    font-family: Verdana;
    font-size: 12px;
    border-top: 1px solid #333;
    padding : 10px;
}
.nameTweet {
    font-family: Mont Heavy;
}
.grisTweet {
    color: #888;
}
.iconPointor {
    cursor: pointer;
}
.textTweet {
    padding: 10px 0;
}
.textTweet a {
    color: dodgerblue;
    text-decoration: none;
}
.eggs {
    background-color:steelblue;
    border-radius: 50%;
    padding: 7px;
    vertical-align: middle;
}